{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  {{ type }} Page
{% endblock %}
{% block main_content %}
  <h4 class="text-center">{{ type }} Page</h4>
  <form action="" class="w-50 mx-auto" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {{ data }}
    {% if type == 'Profile Edit' %}
      <input class="btn btn-outline-primary" type="submit" value="Update" />
      {% comment %} <a href="{% url 'change_password' %}"><input class="btn btn-outline-warning btn-sm ms-5" type="submit" value="Change Password" /></a> {% endcomment %}
    {% else %}
      {% comment %} <input class="btn btn-primary" type="submit" value="Login" /> {% endcomment %}
    {% endif %}
  </form>
{% endblock %}
