{% extends 'base.html' %}
{% load static %}

{% block main_content %}
  {% if messages %}
    {% for m in messages %}
      <small>{{ m }}</small>
    {% endfor %}
  {% endif %}

  {% load crispy_forms_tags %}
  <form action="" class="w-50 mx-auto" novalidate method="post">
    <!-- {{ form|crispy }} -->
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <div class="text-danger">{{ field.errors|striptags }}</div>
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}
