{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block main_content %}
  <main>
    <div class="container">
      <div class="row">
        <h4 class="mb-3"><strong class="mx-2">{{ data|length }} Vehicles</strong></h4>
        {% for car in data %}
          <div class="col-md-3 mb-3 d-flex">
            <div class="card">
              <div id="{{ car.car_stock_id }}" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="" class="d-block w-100" alt="Car image 1" />
                  </div>
                  <div class="carousel-item">
                    <img src="" class="d-block w-100" alt="Car image 2" />
                  </div>
                  <div class="carousel-item">
                    <img src="" class="d-block w-100" alt="Car image 3" />
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#{{ car.car_stock_id }}" data-bs-slide="prev"><span aria-hidden="true"><i class="fa-solid fa-arrow-left" style="color: #000000;"></i></span></button>
                <button class="carousel-control-next" type="button" data-bs-target="#{{ car.car_stock_id }}" data-bs-slide="next"><span aria-hidden="true"><i class="fa-solid fa-arrow-right" style="color: #000000;"></i></span></button>
              </div>
              <div class="card-body mt-1">
                <h5 class="card-title"><strong>{{ car.car_name|truncatewords:4 }}</strong></h5>
                <h6>Price: <strong class="text-danger h4">${{ car.car_price }}</strong></h6>
                <h6>Brand: <strong>Tesla</strong></h6>
                <h6 class="btn btn-small btn-outline-danger disabled"><strong class="text-dark" title="0 miles Odometer">0 Miles</strong></h6>
                <h6><i class="fa-solid fa-location-dot mx-1" style="color: #000000;"></i> Dhaka</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="{% url 'car_detail' car.id %}" class="btn btn-outline-secondary text-dark"><strong class="mx-2">More Details</strong><i class="fa-solid fa-arrow-up-right-from-square" style="color: #000000;"></i></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
