{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Login
{% endblock %}
{% block main_content %}
  <h4 class="text-center">This is Password Changed Page</h4>
  <form action="" method="post" class="w-50 mx-auto">
    <!-- {{form|crispy}} -->
    {% csrf_token %}

    {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ er }}</div>
      {% endfor %}
    {% endif %}

    {% for fm in form %}
      {{ fm.label_tag }}
      {{ fm }}
      <p class="text-danger">{{ fm.errors|striptags }}</p>
    {% endfor %}
    <br />
    <input class="btn btn-warning" type="submit" value="Change Password" />
  </form>
{% endblock %}
